page-about {
    ion-content {
        background-image: url('../assets/images/pattern.jpg');
        background-color: transparent;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
