page-valley-option {
    ion-content {
        background-image: url('../assets/images/pattern.jpg');
        background-color: transparent;
    }
    hr {
        border-bottom: 3px dotted #870d29;
        border-style: dotted;
        background-color: transparent;
    }
    .dv-img {
        width: 50%;
        text-align: center;
    }
}
